<nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto">
	<div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-center flex-wrap md:flex-nowrap">
		<div class="text-gray-500 order-3 w-full md:w-auto md:order-2">
			<ul class="flex font-semibold justify-center">
				<li class="md:px-4 md:py-2 text-indigo-500"><a href="/">Home</a></li>
				<li class="md:px-4 md:py-2 hover:text-indigo-400"><a href="/search">Search Books</a></li>
			</ul>
		</div>
	</div>
</nav>


@code {

}
